# Ignora la carpeta node_modules
node_modules

# Ignora la carpeta daemon
daemon

nope.txt
run-es_user_svcwkr.bat
service-install.js
service-uninstall.js
test-indexjs.bat
install-npm.bat
install-service.bat
uninstall-service.bat
config.json
!src/*